/* App.css */
.app-container {
  min-height: 100vh;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.main-content {
  padding: auto;
  background: var(--content-background); /* Use a CSS variable for the background */
}

.content-wrapper {
  width: auto;
  margin: 0 auto;
  background: #fff;
  padding: 24px;
}

.footer {
  width: auto;
  text-align: center;
  background: var(--footer-background); /* Use a CSS variable for the background */
  color: var(--footer-color); /* Use a CSS variable for the text color */
  padding: 16px;
}

/* Styles for the light theme */

.light-theme {
  --content-background: #01050c;
  --footer-background: #1380e7;
  --footer-color: black;
}

/* Styles for the dark theme */

.dark-theme {
  --content-background: #1f1f1f;
  --footer-background: #000;
  --footer-color: #fff;
}
